# Data Science Tools and Ecosystems

This notebook will summarize some tools and the ecosystem of Data Science.

 Objectives 
- List popular language for data science 
- list popular libraries for data science 
- column of data science tools 
- arithmetic expression 
- convert minutes into hours

Some popular languages used in coding are: 
1. Python 
2. R
3. SQL

There are many different libraries used in coding here are a few: 
1. Matplotlib
2. Seaborn
3. NumPy 
4. Pandas  
5. Scikit-learn 
6. Keras
7. tensorFlow
8. PyTourch

In [17]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Data Science Tools': ['Jupyter Notebook', 'Apache Zeppelin', 'RStudio']})

print(df)

  Data Science Tools
0   Jupyter Notebook
1    Apache Zeppelin
2            RStudio

Here are some examples of arithmetic expression in Python

In [18]:
#This a simple arithmetic expression to mutiply then add integers
x=3
y=4
z=5
print ((x*y)+z)

17

In [19]:
#this will convert 200 minutes into hours by dividing 200 by 60 
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 200
hours = minutes_to_hours(minutes)

print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Author 
Genesis Mead